# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc

# Entornos virtuales (MUY IMPORTANTE - NO subir a git)
venv/
env/
ENV/
django_env/
flask_env/
*.env
.env

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
migrations/__pycache__/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema
.DS_Store
Thumbs.db

#Esto se usa para remplazar textos en git-filter-repo (se uso como medida para eliminar informacion sensible que habia quedado en un commit anterior)
replace.txt
git-filter-repo
git-filter-repo.py